*.py[cod]
*.log

# exclude recipes - add manuall
recipes


# Vim auxiliary files
*~
*.swp

# C extensions
*.so
_*.c
_*.pyxbldc

tests/_*.yml

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
doc/_build
doc/_static

# MacOS
.DS_Store


# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
_test_scripts.yaml
_test_commandline.yaml

# Translations
*.mo


# Documentation build files
docsrc/_*

docs/*.sty
docs/*.bat
docs/Makefile
docs/*.tex
docs/*.idx
docs/*.ilg
docs/*.aux
docs/*latexmk
docs/*.fls
docs/*.ind
docs/*.log
docs/*.toc
docs/*.xdy
docs/latex*
docs/*.ist
docs/*.cls
docs/*.out
docs/._index.html
docs/.buildinfo
docs/*.png
.Rproj.user
