exportPattern( "." )

import(ggplot2)
import(ComplexHeatmap)
import(dplyr)
import(R.utils)
import(ggalluvial)
import(colormap)
importFrom(Matrix,readMM)
importFrom("RColorBrewer", brewer.pal)
importFrom("circlize", colorRamp2)
importFrom("grid", gpar)
importFrom("loomR", connect)
